<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/vars.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    {% block head %}
    {% endblock %}
    <title>Title</title>
</head>
<body>
    <div class="container">

        <div class="navbar">
            <div class="title">
                <a id="home" href="/">
                    <h1>Название</h1>
                </a>
            </div>
            <div class="filler"></div>
            <div class="logins">
                {% if request.user.is_authenticated %}
                    <div class="links">
                        <div id="profile">
                            <a href="/profile/{{ request.user.id }}">
                                <span id="profile-logo" class="material-symbols-outlined">
                                    account_circle
                                </span>
                                <h1>{{ request.user.username }}</h1>
                            </a>
                            <span id="notes-count" class="notes-count">
                                (3)
                            </span>
                            <button id="notes" class="material-symbols-outlined" onclick="show_notes()">
                                notifications_active
                            </button>
                        </div>
                    </div>
                {% else %}
                    <div class="buttons">
                        <a href="/reg" id="reg">Регистрация</a>
                        <a href="/login" id="login">Войти</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    </div>

    {% block scripts %}
    {% endblock %}

    <div id="notes-modal" style="display: none;">
        {% for note in notes %}
            <div class="notification">
                <h1 class="note-title">{{ note.title }}</h1>
                <button class="note-link"  href="/{{ note.link }}"><h2>Перейти</h2></button>
            </div>
        {% endfor %}
    </div>

    <input type="number" id="user_id" value="{{ request.user.id }}" hidden>
    <script src="{% static 'js/base.js' %}"></script>
    <script>update_notes_count()</script>
</body>
</html>