{% extends "site/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/pass_course.css' %}">
{% endblock %}

{% block content %}
    <div class="main-container">

        <div class="main-content">
            <div class="course-information">
                {% for c in course %}
                <div class="course-info">
                    <img class="course-logo" src="/media/{{ c.photo }}" alt="">

                </div>
            </div>
        </div>

        <div class="filler">
        </div>
                {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}