:root {
    --bg-color: rgb(237, 235, 240);

    --blue: #6c7bdf;
    --gray: #f3f4f6;
    --green: #54ad54;
    --dark-green: #288b28;
    --dark: #222222;
    --yellow: #fffad6;
    --light-blue: #8bb0d9;
    --gradient: linear-gradient(#574ab4, #512ea8);
}
